{% extends 'base.html.twig' %}

{% block content %}
	<h1>Bienvenue
		{{ app.user.firstname  }}
	</h1>
	<p>C'est dans ton espace que vous allez pouvoir gérer toutes vos informations</p>
	<hr>
	- Modifier mon password
	<br>
	- Ajouter mes adresses
	<br>
	- Mes commandes
	<br>
	<hr>


{% endblock %}
