{% extends 'base.html.twig' %}

{% block content %}
	<h1>Bienvenue
		{{ app.user.firstname  }}
	</h1>
	<p>C'est dans ton espace que vous allez pouvoir gérer toutes vos informations</p>
	<hr>
	<a href="{{ path('edit_password') }}">Modifier mon mot de passe</a>
	<br>
	- Ajouter mes adresses
	<br>
	- Mes commandes
	<br>
	<hr>


{% endblock %}
