<!doctype html>
<html lang="fr">
	<head>
		{% include "partials/_head.html.twig" %}
	</head>
	<body>
		<header>
			{% include "partials/_navbar.html.twig" %}
		</header>

		<main
			role="main">
			<!-- Carousel -->
			{% if block('carousel') is defined %}
				{% include "partials/_carousel.html.twig" %}
			{% endif %}
			<!-- Fin carousel -->

			<!-- If carousel is not defined add padding top value bootstrap -->
			<div
				class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">

				<!-- Block content -->
				{% block content %}{% endblock %}

				<!-- Fin Block content -->
			</div>

			<!-- FOOTER -->
			<footer class="container">
				{% include "partials/_footer.html.twig" %}
			</footer>
		</main>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
	</body>
</html>
